body { background-color: #f3f5f6; }
#content { width: 1200px; margin: 0 auto; margin-top: 148px; margin-bottom: 315px; padding-top: 20px; padding-bottom: 25px; background-color: #fff; font-size: 14px; color: #666; overflow: hidden; }
#content > h2 { margin-left: 20px; margin-bottom: 20px; font-size: 16px; font-weight: normal; color: #666; }
.payment-content { width: 1158px; margin: 0 auto; border: 1px solid #ededed; }
#content > p { margin-top: 30px; margin-right: 40px; text-align: right; color: #666; }
#content > p strong { font-size: 24px; color: #ff7200; }
#content > a { float: right; margin: 20px 40px 0 0; display: inline-block; padding: 14px 55px; font-size: 24px; color: #fff; font-weight: bold; background-color: #ff7200; }
/*收货人信息*/
.consignee-information { margin: 16px 20px; border-bottom: 1px solid #ededed; }
.consignee-information h3 { font-size: 14px; color: #333; }
.consignee-information p { margin: 20px 0; }
/*订单详情*/
.order-details-content { width: 1158px; margin: 0 auto; margin-top: 20px; border: 1px solid #ebebeb; }
.order-details { margin: 20px 20px; padding-bottom: 20px; border-bottom: 1px solid #ebebeb; }
.order-details h3 { font-size: 14px; color: #333; }
.order-details p { margin-top: 25px; color: #666; }
.order-details p span { margin-left: 20px; color: #f00; }
.order-details p i { margin-right: 30px; font-style: normal; color: #ff7200; }
/*发票信息*/
.invoice-information { margin: 20px 20px; padding-bottom: 20px; border-bottom: 1px solid #ebebeb; }
.invoice-information h3 { font-size: 14px; color: #333; }
.invoice-information h3 span { font-weight: normal; font-size: 12px; color: #666; }
.invoice-information p { margin-top: 25px; color: #666; }
/*优惠*/
.benefit { margin: 20px 20px; padding-bottom: 20px; border-bottom: 1px solid #ebebeb; }
.benefit h3 { font-size: 14px; color: #333; cursor: pointer; }
.benefit i { display: inline-block; width: 11px; height: 7px; margin-left: 10px; background-image: url(../images/payment_img/payment.png); background-position: -126px 0; }
.benefit .show-benefit { background-position: -100px 0; }
.benefit-div { display: none; }
.benefit-div > a { display: inline-block; width: 50px; margin-top: 12px; margin-left: 5px; padding: 8px 0; text-align: center; color: #666; }
.benefit .use-benefit { color: #ff7200; border-bottom: 2px solid #ff7200; }
.coupon a { position: relative; display: inline-block; width: 158px; height: 91px; margin-top: 20px; margin-right: 20px; text-align: center; border: 2px solid #e5e5e5; }
.coupon .use-coupon { border-color: #ff7200; }
.coupon img { width: 100%; height: 100%; }
.coupon p , .promotion-code p { margin-top: 24px; padding: 9px 14px; color: #666; background-color: #f4f5f7; }
.coupon p span , .promotion-code span { color: #ff7200; }
.promotion-code { display: none; }
.promotion-code h6 { margin-top: 20px; font-size: 14px; font-weight: normal; color: #333; }
.promotion-code input { width: 138px; height: 34px; margin-top: 24px; text-align: center; }

/*支付方式*/
.payment-method { margin: 20px 20px; padding-bottom: 20px; border-bottom: 1px solid #ebebeb; }
.payment-method h3 { font-size: 14px; color: #333; }
.payment-method a { display: inline-block; width: 98px; height: 30px; line-height: 28px; margin-top: 20px; margin-right: 5px; color: #666; border: 1px solid #e5e5e5; text-align: center; }
.payment-method .checked-method { background-image: url(../images/payment_img/payment.png); background-position: 0 0; border-color: #ff7200; }

