body { background-color: #f3f5f6; }
#content { width: 1200px; margin: 0 auto; margin-top: 128px; margin-bottom: 30px; font-size: 14px; color: #333; overflow: hidden; }
.bread-nav { padding-top: 30px; padding-bottom: 15px; color: #999; }
.bread-nav a { color: #999; }
.bread-nav .bread-final { color: #000; }
/*个人中心内容*/
.personal-center-content { width: 100%; overflow: hidden; }
/*左半部分*/
.personal-center-left { float: left; width: 190px; padding: 20px 0 70px 40px; background-color: #fff; }
.personal-center-left h3 { margin-top: 40px; margin-bottom: 20px; font-size: 16px; font-weight: normal; color: #333; }
.personal-center-left p { margin-bottom: 15px; }
.personal-center-left a { color: #666; }
.personal-center-left a:hover { color: #ff7200; }
/*右半部分*/
.personal-center-right { float: right; width: 860px; padding: 50px 50px; background-color: #fff; }
/*我的个人中心*/
.my-personal-center {  }
.my-information-content { position: relative; width: 100%; height: 140px; padding-bottom: 60px; border-bottom: 1px solid #e5e5e5; }
.my-information-content > img { position: absolute; top: 0; left: 0; width: 140px; height: 140px; }
.my-information-content > a { position: absolute; top: 70px; right: 0; display: inline-block; width: 140px; height: 36px; line-height: 36px; text-align: center; background-color: #ff7200; color: #fff; }
.my-information { padding-top: 30px; }
.my-information p { margin-left: 460px; margin-bottom: 15px; color: #666; }
.my-information p span { color: #ff7200; }
.my-name { position: absolute; top: 50px; left: 170px; }
.my-name h4 { margin-bottom: 5px; font-size: 24px; font-weight: normal; color: #333; } 
.my-name p { color: #999; }
.my-order { width: 100%; padding-top: 10px; padding-bottom: 40px; border-bottom: 1px solid #e5e5e5; overflow: hidden; }
.my-order ul li { float: left; width: 355px; height: 90px; margin-top: 30px; }
.my-order ul li i { display: inline-block; width: 90px; height: 90px; margin-left: 8px; margin-right: 27px; background-image: url(../images/personal_center_img/personal_center.png); vertical-align: middle; }
.my-order ul li span { font-size: 18px; color: #333; }
.my-order ul li span strong { font-size: 18px; font-weight: normal; color: #ff7200; }
.line-list { width: 100%; margin-top: 14px; overflow: hidden; }
.line { position: relative; height: 210px; margin-top: 26px; padding-left: 302px; }
.line > img { position: absolute; top: 0; left: 0; width: 280px; height: 210px; }
.line > a { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.line:hover .line-information h3 { color: #ff7200; }
.line-information h3 { padding-top: 40px; font-size: 24px; font-weight: normal; color: #333; }
.line-information p { margin-top: 25px; margin-bottom: 20px; line-height: 1.5; color: #666; }
.line-information p span { color: #cb0101; }
.line-information i { font-style: normal; color: #999; }
.load-more { display: block; width: 100%; height: 45px; line-height: 45px; margin-top: 40px; font-size: 18px; color: #333; background-color: #eee; text-align: center; }
/*消息通知*/
.msg-notification { display: none; width: 100%; }
.msg-notification h2 { padding-bottom: 24px; margin-bottom: 28px; font-size: 30px; font-weight: normal; color: #666; border-bottom: 1px solid #e5e5e5; }
.msg-notification p { margin-bottom: 10px; font-size: 16px; color: #666; line-height: 1.5; }

/*优惠、积分*/
.benefit-score { display: none; width: 100%; }
.benefit-score h2 { margin-bottom: 28px; font-size: 30px; font-weight: normal; color: #666; }
.benefit-score > p { margin-top: 25px; }
.coupon-list { padding-bottom: 14px; border-bottom: 1px solid #dcdcdc; color: #dcdcdc; }
.coupon-list a { display: inline-block; padding: 0 20px; font-size: 18px; text-align: center; color: #666; }
.coupon { margin-bottom: 60px; }
.coupon img { margin-left: 16px; margin-top: 16px; }
.score-list { padding-bottom: 14px; border-bottom: 1px solid #dcdcdc; color: #dcdcdc; }
.score-list a { display: inline-block; padding: 0 20px; font-size: 18px; text-align: center; color: #666; }
.already-used , .invalid , .website-score { display: none; }
/*收货地址*/
.receipt-address { display: none; width: 100%; overflow: hidden; }
.receipt-address h2 { margin-bottom: 28px; font-size: 30px; font-weight: normal; color: #666; }
.receipt-address ul li { position: relative; float: left; width: 268px; height: 178px; margin-bottom: 20px; margin-left: 15px; border: 1px solid #e5e5e5; }
.receipt-address ul li i { display: inline-block; width: 30px; height: 30px; margin-top: 60px; margin-bottom: 5px; background-image: url(../images/personal_center_img/personal_center.png); background-position: -368px 0; }
.receipt-address ul li h4 { margin-left: 27px; margin-top: 26px; font-weight: normal; font-size: 18px; color: #666; }
.receipt-address ul li p { margin-left: 27px; margin-top: 14px; color: #666; }
.receipt-address ul li > a { position: absolute; bottom: 16px; color: #ff7200; }
.modify-address { right: 60px; }
.remove-address { right: 18px; }
.receipt-address ul li:hover i { background-position: -368px -32px; }
.receipt-address ul li.add-address:hover p { color: #333; }
.add-address { text-align: center; cursor: pointer; }
.receipt-address .add-address p { margin: 0; color: #666; }


/*地址弹框*/
.write-address { display: none; position: fixed; top: 210px; left: 50%; margin-left: -165px; width: 330px; height: 470px; background-color: #fff; border: 1px solid #ff7200; z-index: 100; }
.write-address > a { display: inline-block; width: 140px; height: 30px; margin-top: 30px; line-height: 30px; color: #fff; text-align: center; }
.save-address { margin-left: 20px; background-color: #ff7200; }
.cancel-address { margin-left: 10px; background-color: #b0b0b0; }
.address-information { padding: 0 20px; padding-top: 13px; border-bottom: 1px solid #e5e5e5; }
.address-information input { width: 268px; height: 40px; margin-top: 15px; padding-left: 20px; font-size: 14px; border: 1px solid #dcdcdc; }
.choose-address span { position: relative; display: inline-block; width: 117px; height: 38px; line-height: 38px; margin-top: 17px; margin-left: 2px; padding-left: 21px; color: #333; border: 1px solid #dcdcdc; color: #333; cursor: pointer; }
.choose-address span img { position: absolute; top: 16px; right: 16px; }
.choose-address span i { font-style: normal; }
.choose-address span ul { width: 100%; max-height: 200px; position:absolute; border:1px solid #E8E8E8; background:white; left:-1px; top:38px; border-top:0; margin-bottom:10px; display:none; z-index:10; overflow-x: hidden; }
.choose-address span ul li { width:100%; float:left; overflow:hidden; border-top:1px solid #E8E8E8; }
.choose-address span ul li a { display:block; height:36px; line-height:36px; padding:0 8px; color:#666; }
textarea { width: 248px; height: 66px; margin-top: 17px; margin-bottom: 40px; padding: 12px 20px; border: 1px solid #dcdcdc; resize: none; }

.has-checked { color: #ff7200 !important; }